*{
    font-family: "inter","sans-serif" ;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    

}

header{
    margin-left: 40px;
}

body{

    background: rgb(12,194,242);
   
    align-items: center;
    justify-content: center;
    max-width: 600px;
    display: block;
    margin-left: 40px;
}

.main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    margin-top: 30px;
    border-radius: 5px 40px 5px 40px;
    outline: none;
    background-color:aliceblue;
    color:darkblue;
    border: none;
    text-align: center;
    text-decoration: solid;



}

.mensagem{
    
    position: relative;
    margin-top: 30px;
    margin-left: 90px;
    background-image: url(/files/imagens/boneco.png);
    background-repeat: no-repeat;
    border-radius: 5px 40px 5px 40px;
    outline: none;
    border: none;
    text-align: center;
    color: darkblue;

}

.botoes{

    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border: none;
    
}

.encriptar{
    background-color: darkblue;
    color: white;
    border-radius: 5px 20px 5px 20px;
    border: none;

}

 .encriptar:hover{
     background-color: blue;
     transition: 0,3s;

}

.desencriptar{
    margin-left: 30px;
    border-radius: 5px 20px 5px 20px;
    border: none;
    color: blue;

}

.desencriptar:hover{
    color: black;
    transition: 0,3s;
}
.informacao{
    font-size: 15px;
    text-decoration-color: blue;
}

.btncopiar{
   
    flex-direction: row;
    margin-top: 90px;
    margin-left: 90px;
    

}



.copiar:hover{
    background-color: blue;
    transition: 0,3s;

}


.copiar {
    background-color: darkblue;
    color: white;
    display: flex;
    margin-top: 40px;
    margin-left: 5px;    
    border: none;
    border-radius: 5px 20px 5px 20px;
    
}

#rodape{
    margin-top: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-top: 20px;
    margin-right: 30px;
    align-content: center;
   
}

